body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', Roboto, Helvetica, sans-serif;
  color: #0C0C0C;
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.lh-copy {
  line-height: 1.5;
}

.lh-title {
  line-height: 1.25;
}

.lh-footer {
  line-height: 1.75em;
}

div {
  box-sizing: border-box;
}

button {
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.tc {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.b {
  font-weight: 700;
}

.white {
  color: #fff;
}

.near-black {
  color: #0C0C0C;
}

.near-black2 {
  color: #181b31;
}

.near-white {
  color: #f4f4f4;
}

.gray {
  color: #777;
}

.blue2 {
  color: #5089C7;
}

.dark-blue2 {
  color: #1C4481;
}

.normal {
  font-weight: 400;
}

.f11 {
  font-size: 11px;
}

.f14 {
  font-size: 14px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f30 {
  font-size: 30px;
}

.f36{
  font-size: 36px;
}

.f48{
  font-size: 48px;
}

.f60{
  font-size: 60px;
}

.full-width {
  width: 100%;
}

.page-container {
  max-width: 1170px;
  margin: 0 auto;
}

.pa0 {
  padding: 0;
}

.pa3 {
  padding: 1rem;
}

.pa4 {
  padding: 2rem;
}

.pt2 {
  padding-top: .5rem;
}

.pt4 {
  padding-top: 2rem;
}

.pt5 {
  padding-top: 4rem;
}

.pt6 {
  padding-top: 8rem;
}

.pb0 {
  padding-bottom: 0;
}

.pb1 {
  padding-bottom: .25rem;
}

.pb4 {
  padding-bottom: 2rem;
}

.pb6 {
  padding-bottom: 8rem;
}

.ph0 {
  padding-left: 0;
  padding-right: 0;
}

.ph2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ph4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pv1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.pv3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pv4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pv5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pr4 {
  padding-right: 2rem;
}

.pl4 {
  padding-left: 2rem;
}

.ma0 {
  margin: 0;
}

.mv2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mv3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt0 {
  margin-top: 0;
}

.mt3 {
  margin-top: 1rem;
}

.mt4 {
  margin-top: 2rem;
}

.mt5 {
  margin-top: 4rem;
}

.mr2 {
  margin-right: .5rem;
}

.mr3 {
  margin-right: 1rem;
}

.mr4 {
  margin-right: 2rem;
}

.mb0 {
  margin-bottom: 0;
}

.mb2 {
  margin-bottom: .5rem;
}

.mb3 {
  margin-bottom: 1rem;
}

.mb4 {
  margin-bottom: 2rem;
}

.br3 {
  border-radius: .5rem;
}

.br-100 {
  border-radius: 100%;
}

.border-color-grey {
  border-color: rgba(0,0,0,.1);
}

.border-color-grey2 {
  border-color: rgba(0,0,0,.2);
}

.border-color-blue2 {
  border-color: #5089C7;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-color-footer-light {
  border-color: #3a3b3c;
}

.text-footer {
  color: #92959b;
}

.bg-blue2 {
  background-color: #5089C7;
}

.bg-dark-blue2 {
  background-color: #1C4481;
}

.footer-top {
  background-color: #26272a;
}

.footer-bottom {
  background-color: #212224;
}

.h45 {
  height: 180px;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.shadow-2 {
  box-shadow: 0 0 8px 2px rgba(0,0,0,.2);
}

.shadow-4 {
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
}

.no-underline {
  text-decoration: none;
}

.icon17 {
  width: 17px;
  height: 17px;
}

.icon20 {
  width: 20px;
  height: 20px;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.w3 {
  width: 4rem;
}

.h3 {
  height: 4rem;
}

.main-banner {
  background-image: url(/img/main-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.quote-banner {
  background-image: url(/img/success-rate-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.iconimg {
  width: 50px
}

.titlebar {
  background-color: #1c4481;
  position: relative;
}

.btn-line {
  background-color: #181b31;
  display: inline-block;
  width: 2.727em;
  height: 2px;
  margin-right: 1em;
  margin-bottom: .2em;
  position: relative;
}

.list-style-none {
  padding-left: 2rem;
  list-style: none;
}

.search-field {
  border: 1px solid #dedede;
  padding: 10px 15px;
  height: 38px;
  padding-left: 45px;
  line-height: 1.5em;
}

.search-icon {
  position: absolute;
  width: 18px;
  top: 22px;
  left: 49px;
}

.form400 {
  max-width: 400px;
}

.input-form {
  border: 1px solid #dedede;
  padding: 10px;
}

.input-form:focus {
  border: 1px solid #1c4481;
  outline: none;
}